#homePage {
display: flex;
align-items: stretch;
padding: 18px 0px;
width: 100%;
max-width: 690px;
justify-content: space-between;
@media only screen and (max-width: 690px) {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 18px 18px;
}
flex-direction: row;
flex-wrap: wrap;

#videoTeaser{
    @media only screen and (max-width: 690px) {
        max-width: none;
    }
    max-width: 336px;
}

}